.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

/* ul.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  position: absolute;
  z-index: 1000;
}

ul.suggestions-list li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

ul.suggestions-list li:hover {
  background: #f0f0f0;
} */


ul {
  list-style: none; 
  padding: 0;
  margin: 0; 
}

ul li {
  padding: 5px 10px; 
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

ul li:hover {
  background-color: #eee; 
}



