.signup {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: #fff;
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.form {
  background-color: #fff;
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 48rem;
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  color: #555;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f7f9fc;
  color: #333;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input:focus {
  background-color: #fff;
  border-color: #007bff;
  outline: none;
}

.buttonContainer {
  text-align: center;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.loginLink {
  margin-top: 20px;
  text-align: center;
}

.loginLink a {
  color: #007bff;
  text-decoration: none;
}

.loginLink a:hover {
  text-decoration: underline;
  color: #ed0909;
}
