/* .field-filter {
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px
} */

.order-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-filters{
  color: #000;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 10px 0;
}

.title-filters{
  color: #000;
  font-size: 15pt;
  margin: 10px 0;
  font-weight: 600;
}

.order-form{
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.order-form > * {
  margin: 5px 10px;
}