/* PageNav.module.css */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;  /* Adjust the value as needed */
  margin-right: 40px; /* Adjust the value as needed */
}

.navBarMargin{
  margin-left: 40px;  /* Adjust the value as needed */
  margin-right: 40px; /* Adjust the value as needed */
}

.navBar a{
  text-decoration: none;
  color: white !important;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.navBar .dropdownItem{
  color: black !important;
}

.navLinks {
  margin-left: auto; /* Ensure the nav links are pushed to the right */
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: black !important; /* Override global CSS and ensure font is black */
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav a:hover,
.nav a:focus {
  color: black !important; /* Ensure font is black on hover and focus */
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: black !important; /* Ensure active link font is black */
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: black !important; /* Ensure CTA link font is black */
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.nav .dropdown-menu {
  background-color: var(--color-light--1);
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.nav .dropdown-item {
  color: black !important; /* Ensure dropdown item font is black */
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav .dropdown-item:hover,
.nav .dropdown-item:focus {
  background-color: var(--color-brand--2);
  color: black !important; /* Ensure font is black on hover and focus */
}

.nav .dropdown-toggle::after {
  display: none;
}

.dropdownItem {
  color: black !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  transition: background-color 0.3s ease;
}
