/* PageNav.module.css */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  margin-left: auto; /* Ensure the nav links are pushed to the right */
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav a:hover,
.nav a:focus {
  color: var(--color-brand--2);
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.nav .dropdown-menu {
  background-color: var(--color-light--1);
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.nav .dropdown-item {
  color: var(--color-dark--0);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav .dropdown-item:hover,
.nav .dropdown-item:focus {
  background-color: var(--color-brand--2);
  color: var(--color-light--1);
}

.nav .dropdown-toggle::after {
  display: none;
}
